@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Light.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Black.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Black.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Black.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype'),
       url('/fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
       url('/fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
